* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card h1 {
  text-align: center;
}

.card input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card button {
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.card button:hover {
  background: #1d4ed8;
}

.card p {
  text-align: center;
}